/*!CK:3074566666!*//*1401003750,178179405*/

.sp_Cf_wxOHtdw6{background-image:url(/rsrc.php/v2/yF/r/m_KNDTaxOG6.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_Cf_wxOHtdw6.sx_345585{width:16px;height:16px;background-position:0 -42px}.sp_Cf_wxOHtdw6.sx_13527e{width:28px;height:28px;background-position:0 0}.sp_Cf_wxOHtdw6.sx_6e1cdc{background-position:-12px -29px}.selected .sp_Cf_wxOHtdw6.sx_6e1cdc{background-position:0 -29px}

#bootloader_tvH42 { height: 42px; }
.bootloader_tvH42 { display:block !important; }