/*!CK:2046393770!*//*1401675553,178179427*/

.sp_PzPuvkb0jjW{background-image:url(/rsrc.php/v2/yT/r/l9EnIyh-StG.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_PzPuvkb0jjW.sx_517394{background-position:0 0}.sp_PzPuvkb0jjW.sx_0e32da{background-position:0 -17px}.sp_PzPuvkb0jjW.sx_6bcb45{background-position:0 -34px}

#bootloader__ARYU { height: 42px; }
.bootloader__ARYU { display:block !important; }